{% extends 'base.html' %}

{% block title %}Восстановление пароля — TopTechShop{% endblock %}

{% block content %}
<div class="site-section">
  <div class="container">
    <div class="col-md-6 mx-auto">
      <div class="p-5 bg-white">
        <h2 class="text-primary mb-4">Восстановление пароля</h2>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="btn btn-primary" type="submit">Отправить письмо</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
